set_io --warn-no-port led_blue 40
set_io --warn-no-port led_green 39
set_io --warn-no-port led_red 41
#set_io --warn-no-port clk 44

set_io --warn-no-port serial_txd 14 # FPGA transmit to USB
set_io --warn-no-port serial_rxd 15 # FPGA receive from USB
set_io --warn-no-port spi_cs 16 # Drive high to ensure that the SPI flash is disabled
